.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.log

logs/
bots/solobot/logs/
bots/solobot/files/execution_results/*/order_log.csv
bots/solobot/files/execution_results/*/order_event_log.json
bots/solobot/files/execution_results/*/order_status_log.csv
bots/solobot/files/execution_results/*/daily_pnl.csv

services/marketfeeder/marketfeeder
services/ordersystem/ordersystem
